language: android
android:
        components:
                - tools
                - platform-tools
                - build-tools-27.0.2
                - android-27
                - extra-android-m2repository
                - extra-google-android-support
        licenses:
         - android-sdk-preview-license-.+
         - android-sdk-license-.+
         - google-gdk-license-.+

install:
# Let's use the new command 'sdkmanager' to install Android SDK components
- yes | sdkmanager --verbose "build-tools;26.0.2"
- yes | sdkmanager --verbose "platform-tools"
- yes | sdkmanager --verbose "tools"
- yes | sdkmanager --verbose "platforms;android-26"
- yes | sdkmanager --verbose "system-images;android-24;default;armeabi-v7a"

# Check tools and dependencies installed
- yes | sdkmanager --list


script:
        - ./gradlew build
before_install:
        - chmod +x gradlew
branches:
        only:
                - master
                - mvp-di-base